.profile-container {
    height: 91.7vh;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.profile-left {
    height: 100%;
    padding: 24px 3vw 24px 3vw;
    background-color: var(--red)
}

.profile-nomargin {
    margin: 0px;
}

/* .profile-left-personale {
    position: relative;
} */

.profile-left-names {
    padding-top: 0;
    padding-bottom: 0
}

.profile-left-details {
    position: relative;
    top: 24px;
    padding-top: 0;
    padding-bottom: 0
}

.profile-left-boxes {
    position: relative;
    top: 48px;
}

.profile-right {
    height: 100%;
    padding: 24px 3vw 24px 3vw;
    overflow-y: scroll
}

