.timetable-container {
    height: 91.7vh;
    display: grid;
    padding-left: 5vw;
    padding-right: 3vw;
    overflow-y: scroll;
}

.timetable-left {
    padding: 24px 3vw 24px 3vw;
}

.timetable-right {
    padding: 24px 3vw 24px 3vw;
    background-color: var(--darkgrey);
}