.home-background {
    background-image: url("../../images/party01.jpg");
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 100vw;
}

.home-bodycontainer {
    align-content: center;
    margin-top: 150px;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.home-title {
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
}

.home-subtitle {
    font-size: 48px;
    text-align: center;
}

.home-buttoncontainer {
    /* todo: position button */
}

.home-button {
    /* todo: style button */
}

