.home-container {
    height: 91.7vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../../images/party01.jpg");
    background-repeat: no-repeat; 
    background-position: 100% 0;
    background-size: 100vw;
}

.home-bodycontainer {
    position: relative;
    top: 30vh;
    align-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-title {
    font-size: 64px;
    text-align: center;
    margin: 5px;
    color: #FFFFFF;
}

.home-subtitle {
    font-size: 48px;
    text-align: center;
    margin: 5px;
    color: #FFFFFF;
}

.home-buttoncontainer {
    position: relative;
    margin: 5vh;
    align-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.home-button1 .home-button2 {
    /* todo: style button */
    display: inline-block;
    padding: 2.5vh;
    align-content: center;
    color: white;
}

.home-button1 {
    /* todo: style button */
    background-color: white;
}

.home-button2 {
    /* todo: style button */
    background-color: var(--primary);
}

